<div id="hero">
    <!-- Hero Section -->
    <div id="hero-content">
        <h2>Welcome to CSE Motors!</h2>
        <div id="hero-card">
            <div id="hero-text">
                <p id="car-name">DMC Delorean</p>
                <ul id="car-features">
                    <li>3 Cup holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dice!</li>
                </ul>
                <img src="/images/site/own_today.png" alt="Own Today">
            </div>
            <img id="delorean-img" src="/images/vehicles/delorean.jpg" alt="DMC Delorean Car">
        </div>
    </div>
</div>

<div id="home-content">
    <!-- DMC Delorean Reviews Section -->
    <section id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul id="review-list">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>

    <!-- Delorean Upgrades Section -->
    <section id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div id="upgrade-grid">
            <a href="#" class="upgrade-item">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor item">
                <p>Flux Capacitor</p>
            </a>
            <a href="#" class="upgrade-item">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals item">
                <p>Flame Decals</p>
            </a>
            <a href="#" class="upgrade-item">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers item">
                <p>Bumper Stickers</p>
            </a>
            <a href="#" class="upgrade-item">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps item">
                <p>Hub Caps</p>
            </a>
        </div>
    </section>
</div>